.DS_Store
/subject_machine_learning/hw_1/.DS_Store
subject_machine_learning/.DS_Store
.env
cpu_server/.env
gpu_server/.env
cpu_server/nginx-logs/
cpu_server/k8s/mlflow-deployment.yaml
cpu_server/k8s/mlflow-service.yaml
cpu_server/k8s/static-server-deployment.yaml
cpu_server/k8s/static-server-service.yaml
cpu_server/k8s/nginx_static
cpu_server/k8s/config/static-server
